<!-- Entry#New -->
<div class="responsive-form bg-white">
    <div class="r-box">
        <h1>Create <b>new</b> <%= link_to @content_type.name, edit_space_content_type_path(space_id: @content_type.space.id, id: @content_type.id) %> in <%= link_to @content_type.space.name, @content_type.space %></h1>

        <% if @entry.errors.any? %>
            <ul class="x-errors">
            <% @entry.errors.full_messages.each do |error| %>
                <li><%= error %></li>
            <% end %>
            </ul>
        <% end %>


        <%= form_for @entry, url: space_content_type_entries_path, html: { class: "pure-form pure-form-stacked"} do |f| %>
            
            <%= f.label :name, "Entry's ID" %><small style="color: #f44">NOTE: This will be replaced by a user-chosen entry later in development</small>
            <%= f.text_field :name, placeholder: "Entry's ID" %>

            <% @content_type.fields_decoded.each do |field| %>
                <%= label_tag field["name"] %>
                <%= field_transform(field["name"], field["type"]) %>
            <% end %>

            <fieldset>
                <%= link_back %>
                <%= submit_tag "Save #{@content_type.name}", class: "pure-button pure-button-primary" %>
            </fieldset>

        <% end %>
    </div>
</div>