<div class="responsive-form">
    <div class="r-box">

        <h1>Spaces</h1>

        <% if @spaces.count > 0 %>
            <ul class="spaces-list">
                <% @spaces.each do |space| %>
                    <li>
                        <%= link_to space.name, space %>
                        <ul class="actions">
                            <!-- TODO: Make this a Dropdown Element -->
                            <li>
                                <%= link_to edit_space_path(id: space.id) do %> 
                                    <%= fa_icon "gear", class: 'fa-fw' %>
                                <% end %>
                            </li>

                            <li>
                                <%= link_to new_space_content_type_path(space_id: space.id) do %>
                                    <%= fa_icon "file", class: 'fa-fw', style: 'color: #0078E7' %>
                                <% end %>
                            </li>
                        </ul>
                    </li>
                <% end %>
            </ul>
        <% else %>
            <p>Sorry, no spaces found.</p>
            <p>You can <%= link_to 'Create a new Space here', new_space_path %>.</p>
        <% end %>

    </div>
</div>
