<div class="responsive-form">
    <div class="r-box">
        <h1>Space ID: <b><%= @space.name %></b></h1>
        <%= link_to 'Create new Content Type', new_space_content_type_path(@space), class: 'pure-button pure-button-primary' %>
        
            <% if @space.content_types.count > 0 %>
                <!-- TODO: Add a Dropdown here (once you click on the link), so you get a PROPER content_type_id  -->
                <%= link_to 'Create new Entry', new_space_content_type_entry_path(space_id: @space, content_type_id: 1), class: 'pure-button pure-button-primary' %>
            <% end %>
        <hr>

        <% if @space.content_types.count > 0 %>
            <h3>Content Types</h3>
            <ul class="spaces-list">
                <% @space.content_types.each do |ct| %>
                    <li>
                        <%= link_to ct.name, space_content_type_path(space_id: ct.space.id, id: ct.id) %>
                        <ul class="actions">
                            <!-- TODO: Make this a Dropdown Element -->
                            <% if false %> <!-- commented out -->
                            <li>
                                <%= link_to edit_space_content_type_path(space_id: ct.space.id, id: ct.id) do %> 
                                    <%= fa_icon "gear", class: 'fa-fw' %>
                                <% end %>
                            </li>
                            <% end %> <!-- end commented code -->

                            <li>
                                <%= link_to new_space_content_type_entry_path(space_id: ct.space.id, content_type_id: ct.id) do %>
                                    <%= fa_icon "file", class: 'fa-fw', style: 'color: #0078E7' %>
                                <% end %>
                            </li>
                        </ul>
                    </li>
                <% end %>
            </ul>
        <% else %>
            <p>No Content Types found.</p>
        <% end %>

    </div>
</div>