<div class="x-menu-horizontal">
    <div class="x-menu-logo">
        <%= link_to root_path do %>
            <%= image_tag 'contender-logo-small.png', class: 'x-menu-logo-img pureimg' %>
            Contender
        <% end %>
    </div><ul>
    <% if user_signed_in? %>
        <li>
            <%= link_to current_space, class: 'active' do %>
                Active Space: <%= current_space.name %>
            <% end %>
        </li>
        <li><%= link_to 'Spaces', spaces_path %></li>
        <li><%= link_to ' All Entries', root_path %></li>
    <% else %>
        <li><a href="#">Info</a></li>
    <% end %>
    </ul>

    <ul class="float-right">
    <% if user_signed_in? %>
        <li><%= link_to current_user.email %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>

    <% else %>
        <li><%= link_to 'Register', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path, class: 'btn-sign-in' %></li>
    <% end %>    
    </ul>

</div>